@charset "utf-8";

body {
  background: -webkit-linear-gradient(rgb(99, 92, 136) 27%, rgb(148, 114, 147) 53%, rgb(219, 165, 139) 87%, rgb(214, 191, 164) 100%);
  background:         linear-gradient(rgb(99, 92, 136) 27%, rgb(148, 114, 147) 53%, rgb(219, 165, 139) 87%, rgb(214, 191, 164) 100%);
  min-height: 100vh;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#content {
  width: 80%;
  margin: auto;
}

.tab-area {
  display: flex;
  align-items: stretch;
  height: 40pt;
  width: 100%;
}

.tab {
  width: 180pt;
  height: 100%;
  display: inline-flex;
  color: white;
  background: rgba(0, 0, 0, 0.75);
}

.tab p {
  margin: auto;
  font-size: 18pt;
}

.login-form {
  width: 360pt
}

.active {
  background: rgba(0, 0, 0, 0.5);
}

#summary {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  color: white;
  padding: 10px;
}

.bar-area {
  display: flex;
  align-items: stretch;
  height: 40pt;
}

.bar-label {
  width: 50pt;
  text-align: center;
  margin: auto 10px;
  font-size: 14pt;
}

.bar {
  margin: 5px 10px;
  border: 1px solid white;
  width: 100%;
  height: auto;
}

.done {
  height: 100%;
  background: #83818E;
  font-weight: bold;
  font-size: 14pt;
  padding-top: 8px;
  display: inline-block;
}

.rest {
  display: inline-block;
  font-weight: bold;
  font-size: 14pt;
  padding-top: 8px;
}

#result {
  margin-top : 10px;
  padding: 0 20px 20px 20px;
  max-height: 250px;
  overflow-x: auto;
  overflow-y: scroll;
  overflow-y: overlay;
}

.table {
  display: table;
}

#result .table {
  color: white;
  width: 100%;
  font-size: 15pt;
}

.bar .table {
  width: 100%;
  height: 100%;
}

.table_scroll {
  width: 100%;
  height: 65px;
  overflow: auto;
}

.table_scroll::-webkit-scrollbar {
  display: none;
}

.table-body {
  display: table-row-group;
}

.header {
  display: table-row;
}

.row {
  display: table-row;
}

.center {
  text-align: center;
}

#result .header {
  text-align: center;
}

#result .header .year {
  min-width: 80pt;
}

#result .header .major {
  width: 50%;
}

#result .header .liberal {
  width: 50%;
}

#major-info {
  color: white;
  width: 90%;
  font-size: 13pt;
  margin: 10px auto;
  position: relative;
  z-index: 1;
}

#major-type {
  width: 90%;
}

#major-name {
  text-align: center;
  width: 90%;
}

#major-button input {
  margin: 10% 0 0 5px;
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,0);
  color: white;
  border: solid 2px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
}

#major-info .number {
    width: 80px;
}

#major-info .major-type {
    width: 130px;
}

#major-info .major-name {
    width: 180px;
}

#major-type {
  width: 90%;
}

.subjects {
  text-align : left;
}

#major-name {
  text-align: center;
  width: 90%;
}

#major-button input {
  margin: 10% 0 0 5px;
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,0);
  color: white;
  border: solid 2px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
}

#major-info .number {
    width: 80px;
}

#major-info .major-type {
    width: 130px;
}

#major-info .major-name {
    width: 180px;
}

.cell {
  display: table-cell;
}

#result .cell {
  padding: 3px 10px;
  border: 1px solid white;
  vertical-align : top;
}

#major-info .cell {
    padding: 1px;
    border: 1px solid white;
    height: 30px;
    vertical-align: middle;
}

#table-wrapper {
  position: absolute;
  border: 1px solid white;
  width: 399px;
  height: 64.5px;
  top: 32px;
  z-index: -1;
}

.course {
  display: block;
  float : left;
  margin: 5px;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px;
  font-size: 12pt;
}

.course.necessary {
  background: rgb(100, 92, 136);
}

.course.optional {
  background: rgb(158, 121, 146);
}

#result::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 	        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  opacity: 0.8;
  border-radius: 20px;
}

#result::-webkit-scrollbar
{
  width: 20px;
  opacity: 0.8;
}

#result::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  background-image: -webkit-gradient(linear,
                                     left bottom,
                                     left top,
                                     color-stop(0.44, rgb(219,165,139)),
                                     color-stop(0.72, rgb(148,114,147)),
                                     color-stop(0.86, rgb(99,92,136)));
}

#year {
  display: inline-block;
  width: 40pt;
  margin-right: 10px;
}

#semester {
  display: inline-block;
}

.plus {
  display: block;
  margin: 5px auto 0px;
}

.center-wrapper {
  position: fixed;
  top: 20%;
  text-align: center;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.center-wrapper:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#login {
  display: inline-block;
  vertical-align: middle;
}

.login-form {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 15pt;
  padding: 10px 0 40px;
}

.inline {
  padding: 10px 20px;
  display: block;
}

.inline label {
  margin: 0;
  text-align: left;
}

.inline input {
  border-radius: 5px;
  float: right;
  width: 11em;
  font-size: 14pt;
  padding: 3px;
}

.loginButton input {
  background: rgba(0,0,0,0);
  color: white;
  border: solid 2px;
}

.checkBox {
  margin-top: 10px;
}

#fileInputButton {
  border-radius: 5px;
  float: left;
  width: 11em;
  font-size: 14pt;
  padding: 3px;
  border: 2px solid;
  margin: 10px 0 0 20px;
}

input[type="file"] {
  display: none;
}

.loginButton input {
  background: rgba(0,0,0,0);
  color: white;
  border: solid 2px;
}

.checkBox {
  margin-top: 10px;
}

#fileInputButton {
  border-radius: 5px;
  float: left;
  width: 11em;
  font-size: 14pt;
  padding: 3px;
  border: 2px solid;
  margin: 10px 0 0 20px;
}

input[type="file"] {
  display: none;
}

.explanationBox {
  width: 90%;
  height: 107px;
  border: 2px solid;
  border-radius: 5px;
  margin: 10px auto;
  padding: 1%;
  font-size: 15px;
  text-align: left;

  overflow: auto;             /*Scroll Bar*/
  overflow-x: hidden;
  word-break: break-all;
  word-wrap: break-word;      /*IE*/
  white-space: pre-wrap;      /*CSS3*/
  white-space: -moz-pre-wrap; /*Firefox*/
  white-space: -pre-wrap;     /*Opera <7*/
  white-space: -o-pre-wrap;   /*Opera 7*/
}

#main {
  width: 80%;
  margin: auto;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: 0.5;
  z-index: 1;
}

#loading {
  width: 128px;
  height: 128px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0 0 -64px;
  z-index: 1;
}